<nb-layout>
  <nb-layout-header fixed>
    <nb-action icon="menu-outline" (click)="toggleSidebar()"></nb-action>
    <img src="../assets/img/android-chrome-512x512.png" width="35" height="35" style="margin-left: 25px;" />
    <span style="margin-left: 30px"> Currency Exchange</span>
  </nb-layout-header>
  <nb-sidebar tag="left">
    <nav-sidebar></nav-sidebar>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet> <!-- Display routed components here -->
  </nb-layout-column>
</nb-layout>